/* FuncCorner 【Login 功能角组件】的样式 */
/* 右上 */
:global {
  .func-corner {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: pink;

    p {
      position: relative;
      left: 110px;
      top: 195px;
      text-align: center;
      //transform: rotate(45deg);
    }
  }
}
